In [25]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [26]:
# Series in pandas
age = pd.Series([13,32,43,34,53,64,76])
type(age)

pandas.core.series.Series

In [27]:
# values and index
age.values
age.index

RangeIndex(start=0, stop=7, step=1)

In [28]:
# index with label
age2 = pd.Series([13,32,43,34,53,64,76], index = ['a','b','c','d','e','f','g'])
age2.values
age2.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [29]:
age2['e']

53

In [30]:
age2[['a','b','c']]

a    13
b    32
c    43
dtype: int64

In [31]:
age2[age2 > 50]

e    53
f    64
g    76
dtype: int64

In [32]:
age2 * 2

a     26
b     64
c     86
d     68
e    106
f    128
g    152
dtype: int64

In [33]:
np.mean(age2)

45.0

In [36]:
'a' in age2

True

In [37]:
'j' in age2

False

In [67]:
# Series data using dictionary
district = {'rajshahi': 25, 'dhaka': 23, 'khulna': 33, 'rangpur': 22, 'sylhet': 34, 'chittagong': 30, 'barishal': 26}
dict_area = pd.Series(district)
dict_area

rajshahi      25
dhaka         23
khulna        33
rangpur       22
sylhet        34
chittagong    30
barishal      26
dtype: int64

In [62]:
states = ['rajshahi','dhaka','khulna','rangpur','sylhet','uganda','chittagong']
data = pd.Series(district, index = states)
data

rajshahi      25.0
dhaka         23.0
khulna        33.0
rangpur       22.0
sylhet        34.0
uganda         NaN
chittagong    30.0
dtype: float64

In [68]:
# null value in series
pd.isnull(data)

rajshahi      False
dhaka         False
khulna        False
rangpur       False
sylhet        False
uganda         True
chittagong    False
dtype: bool

In [64]:
pd.notnull(data)

rajshahi       True
dhaka          True
khulna         True
rangpur        True
sylhet         True
uganda        False
chittagong     True
dtype: bool

In [65]:
data.isnull()

rajshahi      False
dhaka         False
khulna        False
rangpur       False
sylhet        False
uganda         True
chittagong    False
dtype: bool

In [66]:
dict_area * data

barishal         NaN
chittagong     900.0
dhaka          529.0
khulna        1089.0
rajshahi       625.0
rangpur        484.0
sylhet        1156.0
uganda           NaN
dtype: float64

In [69]:
dict_area + data

barishal       NaN
chittagong    60.0
dhaka         46.0
khulna        66.0
rajshahi      50.0
rangpur       44.0
sylhet        68.0
uganda         NaN
dtype: float64

In [77]:
data.index.name = 'District Name'
data.name = "Area"
data

District Name
rajshahi      25.0
dhaka         23.0
khulna        33.0
rangpur       22.0
sylhet        34.0
uganda         NaN
chittagong    30.0
Name: Area, dtype: float64